body {
    margin: auto auto;
    font-family: 'Inter', sans-serif;
    background: hsl(36, 100%, 99%);
    max-width: 700px;  
}

.image-div {
    display: flex;
    margin: 0;
}

.h1-div {
    color: hsl(240, 100%, 5%);
    margin-top: 0.7em;
    line-height: 40px;
    font-size: 2.5rem;
    font-weight: 800;
}

.image-section1 {
    width: 100%;
}


.button {
    display: flex;
    line-height: 40px;
    width: 100px;
    border: 0px;
    background: hsl(5, 85%, 63%);
    padding-left: 1.5em;
}

a {
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}

.para-sec1 {
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    font-weight: 400;
    margin: 1.5rem 0;
    line-height: 25px;
}

.section2 {
    margin: 2.5rem 0;
    padding: 1rem;
    color: hsl(233, 8%, 79%);
    background: hsl(240, 100%, 5%);
    font-size: 0.95em;
    line-height: 2.5em;
    font-weight: 400;
}

.section2-header {
    margin-top: 2rem;
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    font-weight: 800;
}

.new-title {
    color: hsl(36, 100%, 99%);
    font-weight: 800;
    font-size: 1.25rem;
}

.new {
    border-bottom: 2px solid hsl(236, 13%, 42%);
    margin: 0;
    padding: 2rem 0;
}

.new:last-child {
    border-bottom: 0;
}

.recent {
    display: flex;
    flex-direction: column;
}

.recent-articles {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.recent-articles-title {
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 1.1em;
}

.recent-articles-data {
    color: hsl(234, 15%, 63%);
    font-weight: 700;
    font-size: 0.9rem;
}

.recent-articles-number {
    color: hsl(233, 8%, 79%);
    font-size: 2em;
    font-weight: 700;
}

.recent-articles-info {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-container {
    width: 100px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0;
}

.menu-icon {
    margin: 1em 0;
}

@media screen and (max-width:768px) {
    body{
        margin:0 1.5rem;
    }
}

